{% extends 'menu.html.twig' %}

{% block ScriptPaginaE %}
{% endblock %}


{% block content %}

<div id="content">
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Buscar Documento</h1>
    <p class="mb-4"></a>.</p>


    <!--<div class="card shadow mb-4">-->
      <!--<div class="card-body">-->

          <!-- Topbar Search -->
          <!--<form role="form" method="POST" action="{{path("busqueda_documento")}}" >
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Ingrese el titulo del documento." aria-label="Search" aria-describedby="basic-addon2" id="titulo">
              <div class="input-group-append">
                <button class="btn btn-primary btn-user btn-block" type="button" onclick="buscar()" >
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>-->

       <!--</div>-->
    <!--</div>-->

      <br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>
              {% if documento   %}
          {% for documento in documento %}
          <tr>
           <td> {{ documento.titulo }}</td>
           <td> {{ documento.descripcion }}</td>
           <td> {{ documento.fecha|date("m/d/Y") }}</td>
           <td><button class="btn btn-primary btn-user btn-block" type="button" onclick="" >
                  <i class="fas fa-search fa-sm"></i>
                </button></td>
           </tr>
           {% endfor %}
           {% endif %}
          

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->
</div>

{% endblock %}

{% block ScriptPagina %}

<!-- Page level plugins -->
<script src="{{ asset('plantilla/vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plantilla/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ asset('plantilla/js/demo/datatables-demo.js') }}"></script>
{% endblock %}
