<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SYS Bufete - Iniciar Sesión</title>

  <!-- Custom fonts for this template-->
  <link href="{{ asset('plantilla/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ asset('plantilla/css/sb-admin-2.min.css') }}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">¡ Bienvenido/a !</h1>
                  </div>
                  <form class="user" action="{{ path('login_check') }}" method="POST">
                    <hr>
                    <br>
                    <div class="form-group">
                      <input id="username" name="_username" type="text" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Nombre de usuario" autocomplete="off">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="password" name="_password" placeholder="Contraseña" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Iniciar Sesión
                    </button>
                    <div class="text-center">
                      {% if error %}
                        {% if error.messageKey|trans(error.messageData,'security') == 'Invalid credentials.'%}
                            <center><font class="center login-form-text" color="red">Credenciales Inválidas</font></center>
                        {% endif %}
                        {% if error.messageKey|trans(error.messageData,'security') == 'Account is disabled.' %}
                            <center><font class="center login-form-text" color="red">Usuario Inactivo</font></center>
                        {% endif %}
                    {% endif %}
                    </div>
                    <hr>

                  </form>
                  <!-- <hr> -->
                  <!-- <div class="text-center">
                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                  </div> -->
                  <div class="text-center">
                    <a class="small" href="{{path("registrar_usuario")}}">¡ Crear una cuenta !</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script href="{{ asset('plantilla/vendor/jquery/jquery.min.js') }}"></script>
  <script href="{{ asset('plantilla/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script href="{{ asset('plantilla/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script href="{{ asset('plantilla/js/sb-admin-2.min.js') }}">></script>

</body>

</html>
