<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SYS Bufete - Registrarse</title>

  <!-- Custom fonts for this template-->
  <link href="{{ asset('plantilla/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ asset('plantilla/css/sb-admin-2.min.css') }}" rel="stylesheet">

  <style media="screen">
    .error{
      color: red !important;
      font-size: small !important;
      width: 100%;
    }
    .form-control {
      display: block;
      width: 100% !important;
    }
  </style>

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-5 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-7">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">¡ Crea tu Cuenta !</h1>
                  </div>
                  <form id="formulario" method="POST" action="{{ path('usuario_create') }}" class="user">
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" id="nombre" name="nombre" placeholder="Nombre *" title="Ingresa tu Nombre" autocomplete="off">
                        <p id="errorNombre" class="error-form"></p>
                      </div>
                      <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" id="apellido" name="apellido" placeholder="Apellido *" title="Ingresa tu Apellido" autocomplete="off">
                        <p id="errorApellido" class="error-form"></p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12 mb-3 mb-sm-0">
                        <input type="email" class="form-control form-control-user" id="email" name="email" placeholder="Correo Electrónico *"  autocomplete="off">
                        <p id="errorEmail" class="error-form"></p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" id="usuario" name="usuario" placeholder="Usuario *" title="Ingresa tu Usuario" autocomplete="off">
                        <p id="errorUsuario" class="error-form"></p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="password" class="form-control form-control-user" id="clave" name="clave" placeholder="Contraseña *" title="Ingresa tu Contraseña" autocomplete="off">
                        <p id="errorClave" class="error-form"></p>
                      </div>
                      <div class="col-sm-6">
                        <input type="password" class="form-control form-control-user" id="clave2" name="clave2" placeholder="Confirmar Contraseña *" title="Ingresa tu contraseña nuevamente" autocomplete="off">
                        <p id="errorClave2" class="error-form"></p>
                      </div>
                    </div>
                    <button type="button"  onclick="agregar()" class="btn btn-primary btn-user btn-block">
                      Registrame
                    </button>

                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="login.html">Ya posees una cuenta? Iniciar sesión!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <script src="{{ asset('usuario/js/jquery-1.8.3.min.js') }}"></script>
  <script src="{{ asset('usuario/js/jquery.js') }}"></script>
  <script src="{{ asset('usuario/js/bootstrap.min.js') }}"></script>

  <script src="{{ asset('usuario/js/bootstrap-validator.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('usuario/js/jquery.validate.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('usuario/validador.js') }}" type="text/javascript"></script>

  <!-- Bootstrap core JavaScript-->
  <script href="{{ asset('plantilla/vendor/jquery/jquery.min.js') }}"></script>
  <script href="{{ asset('plantilla/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script href="{{ asset('plantilla/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script href="{{ asset('plantilla/js/sb-admin-2.min.js') }}"></script>

  <!-- swal -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

  <script>
  async  function agregar() {
      var form = $("#formulario");

      if ( form.valid() ) {
        var username = $("#usuario").val();
        var correo =   $("#correo").val();

        var datos = { 'username': username, 'correo': correo  };
        var data=await  $.post("{{ path('consultar_usuario_existente') }}",datos);

        var response = JSON.parse(data);

       if (response == "email") {
         swal("Lo sentimos", "Este correo electrónico ya ha sido registrado" , "info");

       }else if (response == "username") {
         swal("Lo sentimos", "Este nombre de usuario ya ha sido registrado" , "info");
       }else {

         if($("#clave").val()==$("#clave2").val()){
             form.submit();
         }else{
             $("#errorClave").text('Las Claves no coinciden');
             $("#errorClave2").text('Las Claves no coinciden');
         }
         
       }
    }
  }
  </script>

</body>

</html>
