<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keyword" content="Abogados, Bufete Abogados, Formularios, leyes, El Salvador, Sistema de Abogados">


  <title>SYS - Bufete </title>

  <!-- Custom fonts for this template-->
  <link href="{{ asset('plantilla/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ asset('plantilla/css/sb-admin-2.min.css') }}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{ asset('sweet_alert/dist/sweetalert.css') }}">


  {% block ScriptPaginaE %}
          <!--script for this page only-->
  {% endblock %}

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">


      {% block menu %}
      <!--sidebar start-->
      <!--sidebar end-->
      {% endblock %}

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

              {% block encabezado %}
              <!--header start-->
              <!--header end-->
              {% endblock %}

              {% block content %}
              <!--main content start-->
              <!--main content end-->
              {% endblock %}

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                  <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                      <span>Copyright &copy; Tpi-115 2019</span>
                    </div>
                  </div>
                </footer>
                <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Seguro que desea salir?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="login.html">Salir</a>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript-->
  <script src="{{ asset('plantilla/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('plantilla/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ asset('plantilla/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ asset('plantilla/js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ asset('plantilla/vendor/chart.js/Chart.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ asset('plantilla/js/demo/chart-area-demo.js') }}"></script>
  <scriptsrc="{{ asset('plantilla/js/demo/chart-pie-demo.js') }}"></script>

  <script src="{{ asset('sweet_alert/dist/sweetalert.min.js') }}"></script>

  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

  {% block ScriptPagina %}
  <!--script for this page only-->
  {% endblock %}

  </body>
</html>
