{% extends 'encabezado.html.twig' %}


{% block menu %}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SYS BUFETE <sup>2</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{{path("formularios")}}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{path("busqueda_documento")}}">
          <i class="fas fa-fw fa-search"></i>
          <span>Buscar Documento</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Documentos
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-clipboard-list"></i>
          <span>Mis Documentos</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Mis Documentos:</h6>
            <a class="collapse-item" href="{{path("mis_documentos", {'id':1}) }}">Profesionales</a>
            <a class="collapse-item" href="{{path("mis_documentos", {'id':2}) }}">Particulares</a>
            <a class="collapse-item" href="{{path("mis_documentos", {'id':3}) }}">Todos</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-copy"></i>
          <span>Plantillas</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Plantillas existentes:</h6>
            <a class="collapse-item" href="{{path("plantillas_existentes", {'id':1}) }}">Profesionales</a>
            <a class="collapse-item" href="{{path("plantillas_existentes", {'id':2}) }}">Particulares</a>
            <a class="collapse-item" href="{{path("plantillas_existentes", {'id':3}) }}">Todos</a>
          </div>
        </div>
      </li>


      {% if is_granted("ROLE_admin") %}
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Configuraciones
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-cogs"></i>
          <span>Configuraciones</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Documentos:</h6>
            <a class="collapse-item" href="#">Tipo Documento</a>
            <a class="collapse-item" href="#">Categoría Documento</a>
            <a class="collapse-item" href="#">Documentos Populares  </a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Otro Mantenimiento:</h6>
            <a class="collapse-item" href="#">Algún otro</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
      {% endif %}


      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
{% endblock %}
