{% extends 'menu.html.twig' %}

{% block content %}
    <h1>Lista de tipos de usuarios</h1>

    <div class="container-fluid">

  <!-- Page Heading -->
  <p class="mb-4"></p>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Lista de tipos de usuarios</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
 <div class="row">
                <div class="col">Idtipousuario</div>
                <div class="col">Roltipousuario</div>
                <div class="col">Descripcion</div>
                <div class="col">Activo</div>
                <div class="col">Fechacreacion</div>
                <div class="col">Fechamodificacion</div>
                <div class="col">Actions</div>
            </div>
            </tr>
          </thead>
          <tfoot>
            <tr>
                 <div class="row">
               <div class="col">Idtipousuario</div>
                <div class="col">Roltipousuario</div>
                <div class="col">Descripcion</div>
                <div class="col">Activo</div>
                <div class="col">Fechacreacion</div>
                <div class="col">Fechamodificacion</div>
                <div class="col">Actions</div>
                </div>
            </tr>
          </tfoot>
          <tbody>
          {% for tipoUsuario in tipoUsuarios %}
          <div class="row">
                <div class="col"><a href="{{ path('tipousuario_show', { 'idTipoUsuario': tipoUsuario.idTipoUsuario }) }}">{{ tipoUsuario.idTipoUsuario }}</a></div>
                <div class="col">{{ tipoUsuario.rolTipoUsuario }}</div>
                <div class="col">{{ tipoUsuario.descripcion }}</div>
                <div class="col">{% if tipoUsuario.activo %}Yes{% else %}No{% endif %}</div>
                <div class="col">{% if tipoUsuario.fechaCreacion %}{{ tipoUsuario.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</div>
                <div class="col">{% if tipoUsuario.fechaModificacion %}{{ tipoUsuario.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</div>
                <div class="col">
                    <ul>
                        <li>
                            <a href="{{ path('tipousuario_show', { 'idTipoUsuario': tipoUsuario.idTipoUsuario }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('tipousuario_edit', { 'idTipoUsuario': tipoUsuario.idTipoUsuario }) }}">Editar</a>
                        </li>
                    </ul>
                </div>
            </div>
           {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

    <ul>
        <li>
            <a href="{{ path('tipousuario_new') }}">Crear un nuevo tipo de usuario</a>
        </li>
    </ul>
{% endblock %}

{% block ScriptPagina %}

<!-- Page level plugins -->
<script src="{{ asset('plantilla/vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plantilla/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ asset('plantilla/js/demo/datatables-demo.js') }}"></script>

{% include 'formulario/script_plantillas_actuales.html.twig' %}

{% endblock %}