{% extends 'menu.html.twig' %}

{% block content %}
    <h1>Tipousuario creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('tipousuario_index') }}">Volver</a>
        </li>
    </ul>
{% endblock %}
