{% extends 'menu.html.twig' %}

{% block content %}
    <h1>Tipousuario</h1>

    <table>
        <tbody>
            <tr>
                <th>Idtipousuario</th>
                <td>{{ tipoUsuario.idTipoUsuario }}</td>
            </tr>
            <tr>
                <th>Roltipousuario</th>
                <td>{{ tipoUsuario.rolTipoUsuario }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tipoUsuario.descripcion }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if tipoUsuario.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if tipoUsuario.fechaCreacion %}{{ tipoUsuario.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechamodificacion</th>
                <td>{% if tipoUsuario.fechaModificacion %}{{ tipoUsuario.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipousuario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tipousuario_edit', { 'idTipoUsuario': tipoUsuario.idTipoUsuario }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
