{% extends 'menu.html.twig' %}

{% block ScriptPaginaE %}
{% endblock %}


{% block content %}

<div id="content">
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Formularios Actuales Para Hoy: {{ "now"|date("d-m-Y h:i:s A") }}</h1><br>
    <br>



    <h5>  <i class="fas fa-check"></i>&nbsp;&nbsp;Comienza desde cero</h5>
    <hr><br>
    <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
          <a href="{{path("nuevo_formulario")}}">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        NUEVO
                  </div>
                  <div class="mb-0 font-weight-bold text-gray-800">
                      Crear Documento
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>


    <h5>  <i class="fas fa-star"></i>&nbsp;&nbsp;Documentos Populares</h5>
    <hr><br>
    <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <a href="{{path("documento_por_categoria" ,{'id': 1}) }}">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        COMPRAVENTA
                  </div>
                  <div class="mb-0 font-weight-bold text-gray-800">
                      Contrato por el cual uno de los contratantes se
                      obliga a entregar una cosa determinada y el otro
                      a pagar por ella un precio cierto, en dinero o
                      signo que lo represente
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </a>

        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <a href="{{path("documento_por_categoria" ,{'id': 2}) }}">

            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      ACTA DE MATRIMONIO
                  </div>
                  <div class="mb-0 font-weight-bold text-gray-800">
                    Registro civil, documento con el cual se formaliz
                    a legalmente la unión de un hombre y una
                    mujer en el régimen conyugal y se realiza
                    bajo un contrato de matrimonio
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <a href="{{path("documento_por_categoria" ,{'id': 3}) }}">

            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">TESTAMENTO</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="mb-0 mr-3 font-weight-bold text-gray-800">
                        Instrumento legal que expresa la voluntad del
                        legítimo propietario o testador, para que una
                        o varias personas determinadas, adquieran el
                        derecho de su propiedad
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- Pending Requests Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <a href="{{path("documento_por_categoria" ,{'id': 4}) }}">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">CONTRATO PROFESIONAL</div>
                  <div class="mb-0 font-weight-bold text-gray-800">
                     Virtud del cual una parte, llamada profesionista,
                     se obliga a efectuar un trabajo que requiere para
                     su realización, preparación técnica, artística y
                     en ocasiones título profesional a favor de otra
                     persona llamada cliente
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}

{% block ScriptPagina %}

<!-- Page level plugins -->
<script src="{{ asset('plantilla/vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plantilla/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ asset('plantilla/js/demo/datatables-demo.js') }}"></script>
{% endblock %}
