{% extends 'menu.html.twig' %}

{% block ScriptPaginaE %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{{ asset('formulario/style.css') }}" rel="stylesheet" type="text/css">

{% endblock %}


{% block content %}

<div id="content">
  <!-- Begin Page Content -->
  <div class="container-fluid">

    {% if documento %}

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Documento : {{documento.nombre}}</h1><br>


            <h6>Progresión</h6>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">0 %</div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>

            <br>


          <!-- Content Row -->
          <div class="row">

            <!-- CAMPOS ENTIDAD -->
            <div class="col-xl-5 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Campos del Documento</h6>
                </div>
                <!-- Card Body -->
                  <form role="form" action="" method="post">
                    <div class="card-body">

                      <div class="row setup-content" id="step-1">
                          <div class="col-md-12">
                            <h5> Paso 1</h5><br>
                            <div class="form-group">
                              <label class="control-label">Atributo 1</label>
                              <input maxlength="100" type="text" required="required" class="form-control" placeholder="Ingrese el nombre del documento">
                            </div>
                            <div class="form-group">
                              <label class="control-label">Atributo 2</label>
                              <input maxlength="100" type="text" required="required" class="form-control" placeholder="Atributo 2">
                            </div>
                            <div class="form-group">
                              <label class="control-label">Atributo 3</label>
                              <input maxlength="100" type="text" required="required" class="form-control" placeholder="Atributo 3">

                            </div>
                            <br>
                            <hr>
                            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Siguiente</button>
                          </div>
                      </div>

                      <div class="row setup-content" id="step-2">
                          <div class="col-md-12">
                            <h3>Paso 2</h3>
                            <div class="form-group">
                              <label class="control-label">Company Name</label>
                              <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name">
                            </div>
                            <div class="form-group">
                              <label class="control-label">Company Address</label>
                              <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Address">
                            </div>
                            <hr>
                            <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Regresar</button>
                            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Siguiente</button>
                          </div>
                      </div>

                      <div class="row setup-content" id="step-3">
                          <div class="col-md-12">
                            <h3>Paso 3</h3>
                            <hr>
                            <button class="btn btn-secondary prevBtn btn-lg pull-left" type="button">Regresar</button>
                            <button class="btn btn-success btn-lg pull-right" type="submit">Guardar</button>
                          </div>
                      </div>

                    </div>
                </form>
              </div>
            </div>

            <div class="col-xl-7 col-lg-6">
              <!-- DOCUMENTO -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Vista Previa Documento</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                  <hr>
                  Styling for the area chart can be found in the <code>/js/demo/chart-area-demo.js</code> file.
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="comoFunciona" tabindex="-1" role="dialog" aria-labelledby="comoFuncionaTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">¿Cómo Funciona?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <b>1. Rellenar el documento</b><br>
                  Contesta a algunas preguntas y tu documento tipo se creará automáticamente.
                  <hr>
                  <b>2. Guardar - Imprimir</b><br>
                  ¡Tu documento está ya listo! Lo recibirás en los formatos Word y PDF. Lo podrás modificar.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Entendido</button>
                </div>
              </div>
            </div>
          </div>

    {% else %}

    <h1 class="h3 mb-2 text-gray-800">Lo Sentimos!</h1><br>
    <p class="mb-4">Este documento aún se esta construyendo, puedes encontrar otros documentos en el siguiente enlace <a target="_blank" href="{{path("all_plantillas")}}">Todas las Plantillas</a>.</p>

    {% endif %}



  </div>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}

{% block ScriptPagina %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% include 'formulario/script_nuevo_formulario.html.twig' %}

{% endblock %}
