 {% extends 'menu.html.twig' %}

{% block ScriptPaginaE %}
{% endblock %}


{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  {% if id == 1 %}
    <h1 class="h3 mb-2 text-gray-800">Mis Documentos Profesionales </h1>
  {% elseif id == 2 %}
    <h1 class="h3 mb-2 text-gray-800">Mis Documentos Particulares </h1>
  {% else %}
    <h1 class="h3 mb-2 text-gray-800">Todos Mis Documentos </h1>
  {% endif %}

  <p class="mb-4"></p>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Mis Documentos</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
               <th>Titulo</th>
              <th>Descripcion</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Titulo</th>
              <th>Descripcion</th>
              <th>Fecha</th>
            </tr>
          </tfoot>
          <tbody>
          {% if documento   %}
          {% for documento in documento %}
          <tr>
           <td> {{ documento.titulo }}</td>
           <td> {{ documento.descripcion }}</td>
           <td> {{ documento.fecha|date("m/d/Y") }}</td>
           </tr>
           {% endfor %}
           {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->


{% endblock %}

{% block ScriptPagina %}

<!-- Page level plugins -->
<script src="{{ asset('plantilla/vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plantilla/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ asset('plantilla/js/demo/datatables-demo.js') }}"></script>
{% endblock %}
