{% extends 'menu.html.twig' %}

{% block ScriptPaginaE %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{{ asset('formulario/style.css') }}" rel="stylesheet" type="text/css">

  <style media="screen">
    .contenedorDocumento{
      overflow: auto;
      height: 750px;
    }
  </style>
{% endblock %}


{% block content %}

<div id="content">
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Nuevo Documento</h1><br>

      <h6>Progresión</h6>

        <div class="stepwizard col-md-offset-3">
            <div class="stepwizard-row setup-panel">
              <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-primary btn-circle-step">1</a>
                <p>Paso 1</p>
              </div>
              <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle-step" disabled="disabled">2</a>
                <p>Paso 2</p>
              </div>
            </div>
        </div>
      <br>


    <!-- Content Row -->
    <div class="row">

      <!-- CAMPOS ENTIDAD -->
      <div class="col-xl-5 col-lg-6">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Campos del Documento</h6>
          </div>
          <!-- Card Body -->
            <form role="form" action="" method="post">
              <div class="card-body">

                <div class="row setup-content" id="step-1">
                    <div class="col-md-12">
                      <h5> Paso 1</h5><br>
                      <input type="hidden" name="idDocumento" id="idDocumento" value="0">
                      <div class="form-group">
                        <label class="control-label"><b>Título del Documento</b></label>
                        <input maxlength="100" name="nombreDocumento" id="nombreDocumento"type="text" required="required" class="form-control" placeholder="Ingrese el título del documento">
                      </div>
                      <div class="form-group">
                        <label class="control-label"><b>Descripción del Documento</b></label>
                        <textarea rows="4" maxlength="255" name="descripcion" id="descripcion"type="text" required="required" class="form-control" placeholder="Ingrese la descripcion del documento"></textarea>
                      </div>
                      <div class="form-group">
                        <label class="control-label"><b>Tipo del Documento</b></label>
                        <select class="form-control" id="tipoDocumento">
                        <option value="0" selected>Seleccione Un Tipo de Documento</option>
                        {% for tipo in tipoDocumento %}
                            <option value="{{tipo.id}}">{{tipo.nombre}}</option>
                        {% endfor %}
                      </select>
                      </div>
                      <div class="form-group">
                        <label class="control-label"><b>Categoría</b></label>
                        <select class="form-control" id="categoria" disabled>
                            <option value="0" selected>Seleccione una Categoria</option>
                            <div class="comboCategoria">
                            </div>
                        </select>
                      </div>
                      <br>
                      <hr>
                      <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" onclick="pasoUno()">
                        Siguiente
                        &nbsp;&nbsp;<i class="fas fa-arrow-right"></i>
                      </button>
                    </div>
                </div>

                <div class="row setup-content" id="step-2">
                    <div class="col-md-12">
                      <h3>Paso 2</h3>
                      <p> Agregar los atributos del documento  </p>

                      <div class="form-group">
                        <label class="control-label"><b>Nombre del Atributo</b></label>
                        <input maxlength="200" id="nombreAtributo" type="text" required="required" class="form-control" onkeyup="this.value=this.value.replace(/[^a-z]+/g,'');" placeholder="Nombre del atributo (sin espacios), por ejemplo: Lugar, Nombre">
                      </div>
                      <div class="form-group">
                        <label class="control-label"><b>Texto antes del Atributo</b></label>
                        <textarea rows="4" id="textoAntesAtributo" type="text" required="required" class="form-control" placeholder="Ingrese el texto del atributo"></textarea>
                      </div>
                      <div class="form-group">
                        <label class="control-label"><b>Texto después del Atributo</b></label>
                        <textarea rows="4" id="textoDespuesAtributo" type="text" required="required" class="form-control" placeholder="Ingrese el texto del atributo"></textarea>
                      </div>

                      <!-- <div class="form-group">
                        <label class="control-label"><b>Orden del texto</b></label>
                        <input maxlength="3" type="text" required="required" class="form-control" placeholder="Enter Company Address">
                      </div> -->
                      <br>
                      <button class="btn btn-success btn-icon-split btn-sm" type="button" onclick="agregarAtributo()">
                         <i class="fas fa-plus"></i>&nbsp;&nbsp;Agregar Nuevo Atributo
                       </button>

                      <br>
                      <br>
                      <br>
                      <hr>
                      <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">
                        <i class="fas  fa-arrow-left"></i>&nbsp;&nbsp;
                        Regresar
                      </button>
                      <button class="btn btn-success nextBtn btn-lg pull-right" type="button" onclick="pasoDos(1)">
                        &nbsp;&nbsp;<i class="fas fa-check"></i>
                        Terminar
                      </button>
                      <button class="btn btn-warning nextBtn btn-lg pull-right" type="button" onclick="agregarAtributo(2)">
                        &nbsp;&nbsp;<i class="fas fa-clipboard-list" style="color:white;"></i>
                        <span style="color:white;">Usar Documento</span>
                      </button>
                    </div>
                </div>

              </div>
          </form>
        </div>
      </div>

      <div class="col-xl-7 col-lg-6">
        <!-- DOCUMENTO -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Vista Previa Documento</h6>
          </div>
          <div class="card-body">
              <div class="contenedorDocumento" id="contenedorDocumento">
                <input type="hidden" name="nombresAtributos[]" id="nombresAtributos" value="">
                <input type="hidden" name="textosAntes[]"  id="textosAntes" value="">
                <input type="hidden" name="textosDespues[]"  id="textosDespues" value="">

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p style="text-align:center;">   Vista Previa no Disponible </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="comoFunciona" tabindex="-1" role="dialog" aria-labelledby="comoFuncionaTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">¿Cómo Funciona?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <b>1. Rellenar el documento</b><br>
            Contesta a algunas preguntas y tu documento tipo se creará automáticamente.
            <hr>
            <b>2. Guardar - Imprimir</b><br>
            ¡Tu documento está ya listo! Lo recibirás en los formatos Word y PDF. Lo podrás modificar.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Entendido</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}

{% block ScriptPagina %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% include 'formulario/script_nuevo_formulario.html.twig' %}

{% endblock %}
