<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $('#comoFunciona').modal('show');

    var navListItems = $('div.setup-panel div a'),
    allWells = $('.setup-content'),
    allNextBtn = $('.nextBtn'),
  allPrevBtn = $('.prevBtn');

  allWells.hide();

  navListItems.click(function (e) {
      e.preventDefault();
      var $target = $($(this).attr('href')),
              $item = $(this);

      if (!$item.hasClass('disabled')) {
          navListItems.removeClass('btn-primary').addClass('btn-default');
          $item.addClass('btn-primary');
          allWells.hide();
          $target.show();
          $target.find('input:eq(0)').focus();
      }
  });

  allPrevBtn.click(function(){
      var curStep = $(this).closest(".setup-content"),
          curStepBtn = curStep.attr("id"),
          prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

          prevStepWizard.removeAttr('disabled').trigger('click');
  });

  allNextBtn.click(function(){
      var curStep = $(this).closest(".setup-content"),
          curStepBtn = curStep.attr("id"),
          nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
          curInputs = curStep.find("input[type='text'],input[type='url']"),
          isValid = true;

      $(".form-group").removeClass("has-error");
      for(var i=0; i<curInputs.length; i++){
          if (!curInputs[i].validity.valid){
              isValid = false;
              $(curInputs[i]).closest(".form-group").addClass("has-error");
          }
      }

      if (isValid)
          nextStepWizard.removeAttr('disabled').trigger('click');
  });

    $('div.setup-panel div a.btn-primary').trigger('click');


      $("body").on('change', '#tipoDocumento' ,function (event) {
        event.preventDefault();

        var tipoDocumento = $("#tipoDocumento").val();
        if (tipoDocumento != 0) {

          var datos = {'tipoDocumento': tipoDocumento };
          $.post("{{ path('categoria_documento') }}" ,datos,function(data){
          }).done(function(data){
              $('#categoria').html(data);
              $("#categoria").prop("disabled" , false)
          })
          .fail(function(xhr,status , error) {
              swal("Lo sentimos", "Ha ocurrido un error. Por favor reportar a soporte","error");
          })

        }else {
              $("#categoria").prop("disabled" , true)
        }


      });

      $("body").on('keyup', '#nombreAtributo' ,function (event) {
        event.preventDefault();

        generarEstructura();

      });

      $("body").on('keyup', '#textoAntesAtributo' ,function (event) {
        event.preventDefault();

        generarEstructura();

      });

      $("body").on('keyup', '#textoDespuesAtributo' ,function (event) {
        event.preventDefault();

        generarEstructura();

      });


    });
</script>

<script>


  function validarPasoUno(){

      var nombreDocumento = $("#nombreDocumento").val();
      var descripcion = $("#descripcion").val();
      var tipoDocumento = $("#tipoDocumento").val();
      var categoria = $("#categoria").val();

      if ( nombreDocumento != "" &&  nombreDocumento != null &&  nombreDocumento != " ") {
          if (descripcion != "" &&  nombreDocumento !=  null &&  descripcion != " " ) {
              if (tipoDocumento != 0) {
                if (categoria != 0) {
                  return true;
                }else {
                  false;
                }
              }else {
                return false;
              }
          }else {
            return false;
          }
      }else {
        return false;
      }


  }

  function pasoUno(){

  if (validarPasoUno()) {

      var idDocumento = $("#idDocumento").val();
      var nombreDocumento = $("#nombreDocumento").val();
      var descripcion = $("#descripcion").val();
      var tipoDocumento = $("#tipoDocumento").val();
      var categoria = $("#categoria").val();


      var datos = {
        'idDocumento': idDocumento,
        'nombreDocumento': nombreDocumento,
        'descripcion': descripcion,
        'categoria': categoria,
       };


      $.post("{{ path('iniciar_nuevo_documento') }}" ,datos,function(data){
      }).done(function(response){
        var data = JSON.parse(response);
        console.log("data",data);

        $("#idDocumento").val(data.id);
        $("#nombreDocumento").val(data.nombre);
        $("#descripcion").val(data.descripcion);
        $("#tipoDocumento").val(data.categoria.idTipoDocumento.id);
        $("#categoria").val(data.categoria.id);

      })
      .fail(function(xhr,status , error) {
          swal("Lo sentimos", "Ha ocurrido un error. Por favor reportar a soporte","error");
      })
  }else {
    swal("Lo sentimos", "Debes completar todos los campos del Paso 1 para continuar al siguiente paso","info");

  }


}

  function generarEstructuraFinal(){

      // Obtener el arreglo de localStorage
      var array = localStorage.getItem('arrayFinal');
      // Se parsea para poder ser usado en js con JSON.parse :)
      array = JSON.parse(array);

      var html = "";
      for (var i = 0; i < array.length; i++) {
        var textoAntes = (array[i]["textoAntesAtributo"]).replace(/\n/gi,"<br/>");
        var textoDespues = (array[i]["textoDespuesAtributo"] ).replace(/\n/gi,"<br/>");
        html += textoAntes + " " + "<b>" + array[i]["nombreAtributo"] + "</b>" +  " " + textoDespues ;
      }

      $("#contenedorDocumento").html(html);
  }

  function generarEstructura(){


    var nombresAtributos = $("input[id='nombresAtributos']").map(function(){return $(this).val();}).get();

    if ( nombresAtributos.length > 1 ) {
      generarEstructuraFinal();

    }else {

      var nombreAtributo = $("#nombreAtributo").val();
      var textoAntesAtributo = (document.getElementById("textoAntesAtributo").value).replace(/\n/gi,"<br/>"); // $("#textoAntesAtributo").val();
      var textoDespuesAtributo = (document.getElementById("textoDespuesAtributo").value).replace(/\n/gi,"<br/>"); //$("#textoDespuesAtributo").val();

      var html = textoAntesAtributo + " " + "<b>"+ nombreAtributo + "</b>" +  " " + textoDespuesAtributo;

      $("#contenedorDocumento").html(html);

    }
  }

  function agregarAtributo(){

    var nombreAtributo = $("#nombreAtributo").val();
    var textoAntesAtributo = $("#textoAntesAtributo").val();
    var textoDespuesAtributo = $("#textoDespuesAtributo").val();


    var arrayAtributos = new Object();
    arrayAtributos["nombreAtributo"] = nombreAtributo;
    arrayAtributos["textoAntesAtributo"] = textoAntesAtributo;
    arrayAtributos["textoDespuesAtributo"] = textoDespuesAtributo;


    // Obtener el arreglo de localStorage

    var array = localStorage.getItem('arrayFinal');
    if (array != null) {
      // Se parsea para poder ser usado en js con JSON.parse :)
      array = JSON.parse(array);
    }else {
      var array = new Array();
    }
    array.push(arrayAtributos);

    // Se guarda en localStorage despues de JSON stringificarlo
    localStorage.setItem('arrayFinal', JSON.stringify(array));

    //Limpiando los campos
    $("#nombreAtributo").val("");
    $("#textoAntesAtributo").val("");
    $("#textoDespuesAtributo").val("");

    generarEstructuraFinal();

  }


  function validarPasoDos(){

    var array = localStorage.getItem('arrayFinal');
    if (array == null) {
      return false;
    }else {
      return true;
    }

  }

  function pasoDos(accion){

    if (validarPasoDos()) {

      //guardar los atributos y asociarlos al documento
      // Obtener el arreglo de localStorage
      var array = localStorage.getItem('arrayFinal');
      // Se parsea para poder ser usado en js con JSON.parse :)
      array = JSON.parse(array);

      //obteniendo el id del documento
        var idDocumento= $("#idDocumento").val();

       var datos = {"lista_atributos":array, "id_documento": idDocumento}
      $.post("{{ path('atributos_nuevo_documento') }}" ,datos,function(data){
      }).done(function(data){
        if (accion == 1) {
          swal("Excelente", "El documento se ha guardado correctamente","success");
          sessionStorage.clear()
          window.location.href = "/"

        } else {
          swal("Excelente", "El documento se ha guardado correctamente","success");
          sessionStorage.clear();
          window.location.href = "/usar_documento/"+idDocumento;
        }


      })
      .fail(function(xhr,status , error) {
          swal("Lo sentimos", "Ha ocurrido un error. Por favor reportar a soporte","error");
      })

    }


  }

</script>
