{% extends 'menu.html.twig' %}

{% block content %}
    <h1>Tipodocumentos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoDocumento in tipoDocumentos %}
            <tr>
                <td><a href="{{ path('tipodocumento_show', { 'id': tipoDocumento.id }) }}">{{ tipoDocumento.id }}</a></td>
                <td>{{ tipoDocumento.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tipodocumento_show', { 'id': tipoDocumento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tipodocumento_edit', { 'id': tipoDocumento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipodocumento_new') }}">Create a new tipoDocumento</a>
        </li>
    </ul>
{% endblock %}
