{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipodocumento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipoDocumento.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipoDocumento.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipodocumento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tipodocumento_edit', { 'id': tipoDocumento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
